@font-face {
    font-family: 'Anton';
    src: local('Anton'), url(../../../assets/fonts/Anton/Anton-Regular.ttf) format('truetype');}


#tracker-main {
    background-color: #183346;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#data-div {
    background-color: #fff;
    width: 55%;
    height: 100%;
}

#chart-div {
    background-color: #183346;
    width: 45%;
    height: 100%;
}

#total-data-div {
    background-color:#183346;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profit-div {
    background-color: #16a085
}

#expense-div {
    background-color: #da4453;
}

.expense-profit-div {
    width: 35%;
    height: 50%;
    background-color:chocolate;
    margin: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.expense-profit-img {
    font-size: large;
}

#asd{
    font-size: 20px;
}

.expense-profit-text {
    width: 70%;
    margin-left: 10%;
    text-align: center;
    font-family: Anton, serif;
}